[submodule "awesome_lists/awesome-visual-slam"]
	path = awesome_lists/awesome-visual-slam
	url = git@github.com:qiao-tw/awesome-visual-slam.git
[submodule "awesome_lists/awesome-robotics-libraries"]
	path = awesome_lists/awesome-robotics-libraries
	url = git@github.com:jslee02/awesome-robotics-libraries.git
[submodule "awesome_lists/awesome-slam-datasets"]
	path = awesome_lists/awesome-slam-datasets
	url = git@github.com:youngguncho/awesome-slam-datasets.git
[submodule "awesome_lists/awesome-computer-vision"]
	path = awesome_lists/awesome-computer-vision
	url = git@github.com:jbhuang0604/awesome-computer-vision.git
[submodule "awesome_lists/awesome-3d-reconstruction"]
	path = awesome_lists/awesome-3d-reconstruction
	url = git@github.com:openMVG/awesome_3DReconstruction_list.git
[submodule "awesome_lists/awesome-robotics"]
	path = awesome_lists/awesome-robotics
	url = git@github.com:ahundt/awesome-robotics.git
[submodule "awesome_lists/awesome-robotic-tooling"]
	path = awesome_lists/awesome-robotic-tooling
	url = git@github.com:Ly0n/awesome-robotic-tooling.git
[submodule "awesome_lists/awesome-ros2"]
	path = awesome_lists/awesome-ros2
	url = git@github.com:fkromer/awesome-ros2.git
[submodule "awesome_lists/awesome-cpp"]
	path = awesome_lists/awesome-cpp
	url = git@github.com:fffaraz/awesome-cpp.git
